<h3>Tickets</h3>
<hr>
<a href="/tickets/new" class="btn btn-success float-right">New Ticket</a>
<br><br><br>
<ul class="list-group">
  {{#if tickets}}
    {{#each tickets}}
    <li class="list-group-item">
    <a href="/tickets/view/{{this._id}}" class="btn btn-warning">Open</a>  <span class='float-right align-baseline'><b>Number:</b> {{this.number}} <br> <b>Customer:</b> <a href="/customers/view/{{this.client.id}}" target='_blank'>{{this.client.name}}</a></span>
    </li>
    {{/each}}
  {{else}}
  <h5>There are no tickets!</h5>
  {{/if}}
</ul>
