<div class="page">
  <form action='/tickets/new' method='post'>
  <h3>New Ticket</h3>
  <input type="submit" value='Open Ticket' class="btn btn-success float-right" />
  <br><br>
  <hr>
  <div class="row">
      {{#if customer}}
      <div class="col" id='customerPanel'>
        <ul class="list-group bg-dark text-white">
          <input type="hidden" name="id" value="{{customer._id}}">
          <li class="listgroup-item bg-dark text-white text-right"><a href='#' id='customerChange' onclick='modal.open()'>change customer</a> {{customer._id}}</li>
          <li class="list-group-item bg-dark text-white">Name: {{customer.name}}</li>
          <li class="list-group-item bg-dark text-white">Phone: {{customer.phone.[0]}}</li>
          <li class="list-group-item bg-dark text-white">Email: {{customer.email.[0]}}</li>
          <li class="list-group-item bg-dark text-white"><a href="" onclick="changeCustomer()">Change Customer</a></li>
        </ul>
      {{else}}
      <div class="col text-center" id='customerPanel'>
      <a href="#" id='customerModalTrigger' class="btn btn-warning btn-lg">Add Customer</a>
      {{/if}}
      </div>
      <div class="col">
        <ul class="list-group bg-dark text-white">
          <li class="list-group-item bg-dark text-white">
            Device
            <ul class="list-group bg-dark text-white">
              <li class='list-group-item bg-dark text-white'><input type="text" class='form-control' name='make' placeholder='Apple'></li>
              <li class='list-group-item bg-dark text-white'><input type="text" class='form-control' name='model' placeholder='iPhone 6S+'></li>
              <li class='list-group-item bg-dark text-white'><input type="text" class='form-control' name='carrier' placeholder='Verizon'></li>
              <li class='list-group-item bg-dark text-white'><input type="text" class='form-control' name='serial' placeholder='42232300000245667833'></li>
              <li class='list-group-item bg-dark text-white'><select class='form-control' name="sim" id="sim">
                <option selected disabled>Select</option>
                <option value="true" >True</option>
                <option value="false">False</option>
              </select></li>
            </ul>
          </li>
          <li class="list-group-item bg-dark text-white">
            Issue
            <select class='form-control' name="issue" id="">
              <option value="" disabled selected>Coming soon...</option>
            </select>
          </li>
          <li class="list-group-item bg-dark text-white">
            Notes
            <textarea class='form-control' name="notes" id="" cols="30" rows="10">Notes here...</textarea>
          </li>
          <li class="list-group-item bg-dark text-white">

          </li>
        </ul>
      </div>
  </div>
</div>
</form>
<div class="customerModal" id="customerModal">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header"><h4>Add Customer</h4></div>
        <div class="card-body">
          <input id='customerSearch' type="text" class='form-control' placeholder='Customer Name or Phone Number'>
          <br><br>
          <ul class="matches list-group"></ul>
        </div>
        <div class="card-footer">
          <a href="/customers/new" target='_blank'>New Customer</a>
          <a href="#" class="btn btn-danger float-right" id='closeModal'>Close</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$('.customerModal').hide()
var modal = {
  close:function(){
    $('.customerModal').fadeOut('fast')
    $('.page').css('filter','')
    return null
  },
  open:function(){
    $('.page').css('filter','blur(5px)')
    $('.customerModal').fadeIn('fast')
    $('#customerSearch').focus()
    return null
  }
}
function addCustomer(customer){
  $('#customerPanel').removeClass('text-center')
  $('#customerPanel').html(`
      <ul class="list-group bg-dark text-white">
        <input type="hidden" name="id" value="${customer._id}">
        <li class="listgroup-item bg-dark text-white text-right"><a href="#" id='customerChange' onclick='modal.open()'>change customer</a> ${customer._id}</li>
        <li class="list-group-item bg-dark text-white">Name: ${customer.name}</li>
        <li class="list-group-item bg-dark text-white">Phone: ${customer.phone[0]}</li>
        <li class="list-group-item bg-dark text-white">Email: ${customer.email[0]}</li>
      </ul>
    `)
    modal.close()
}
$('#customerModalTrigger').click(modal.open)
// $('#customerChange').click(modal.open)
$('#changeCustomer').click(()=>{
  $('.page').css('filter','blur(5px)')
  modal.open()
})
$('#closeModal').click(modal.close)
$('#customerSearch').keyup(function(){
  $('.matches').html('')
  var searchTerm = $('#customerSearch').val()
  $.get('/customers/find/'+searchTerm,data=>{
    if(data[0].name) {
      data.forEach(match=>{
        $('.matches').append(`<li class='list-group-item'>${match.name} - ${match.phone} <a onclick='addCustomer(${JSON.stringify(match)})' class='btn btn-primary float-right'>Add Customer</a></li>`)
      })
    }
  })
})
</script>
