<h3>Ticket </h3>
<span id='ticketId'>{{ticket._id}}</span>
<hr>
<a href="/tickets/edit/{{ticket._id}}" class="btn btn-success float-right">Edit Ticket</a>
<div class="row mb-3">
  <div class="col">
    <ul class="list-group bg-dark text-white">
      <li class="list-group-item bg-dark text-white">
        <b>Customer: </b><a href="/customers/view/{{ticket.customer}}" class='float-right'>{{ticket.client.name}}</a>
      </li>
      <li class="list-group-item bg-dark text-white"><b>Phone: </b>
      {{#each ticket.client.phone}}
        <p class="float-right">{{this}}</p> <br>
      {{/each}}
      </li>
      <li class="list-group-item bg-dark text-white"><b>Email: </b>
      {{#each ticket.client.email}}
        <span class='float-right'>{{this}}</span> <br>
      {{/each}}
      </li>
      <li class="list-group-item bg-dark text-white"><b>Address: </b>
      <p class="float-right">
        {{ticket.client.address.street}} {{ticket.client.address.city}} <br>
        {{ticket.client.address.state}} {{ticket.client.address.zip}}
      </p>
      </li>
    </ul>
  </div>
  <div class="col">
    <ul class="list-group bg-dark text-white">
      <li class='list-group-item bg-dark text-white'><b>Make: </b>{{ticket.device.make}}</li>
      <li class='list-group-item bg-dark text-white'><b>Model: </b>{{ticket.device.model}}</li>
      <li class='list-group-item bg-dark text-white'><b>Carrier: </b>{{ticket.device.carrier}}</li>
      <li class='list-group-item bg-dark text-white'><b>Serial: </b>{{ticket.device.serial}}</li>
      <li class='list-group-item bg-dark text-white'><b>SIM included: </b>{{ticket.device.simIncluded}}</li>
    </ul>
  </div>
</div>
<div class="row mb-3">
  <div class="col">
    <div class="card bg-dark text-white">
      <div class="card-header"><h5>Line Items</h5></div>
      <div class="card-body bg-dark text-white">
        <table class="table table-striped table-hover">
          <thead><tr><th>SKU</th><th>Name</th><th>Retail</th><th>Taxable</th><th>Discount</th><th><a href="#" class="btn btn-sm btn-success float-right">+</a></th></tr></thead>
          <tbody>
            <tr>
              <td>0000001</td>
              <td>SAMPLE</td>
              <td>9.99</td>
              <td>True</td>
              <td>0%</td>
              <td><button class="btn btn-danger btn-sm removeProduct">x</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row page-break">
  <div class="col">
    <div class="card bg-dark text-white">
      <div class="card-header bg-dark text-white"><h5>Notes</h5></div>
      <div class="card-body bg-dark text-white">
        {{#each ticket.notes}}
        <p>{{this.body}} <br><b>User: </b>{{this.createdBy}}</p>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col no-print">
    <div class="card bg-dark text-white">
      <div class="card-header bg-dark text-white"><h5>Add Note</h5></div>
      <div class="card-body bg-dark text-white">
        <form action="/tickets/notes/add/{{ticket._id}}" method="post">
          <textarea class='form-control' name="notes" id="" cols="30" rows="5"></textarea>
          <input type="submit" class="btn btn-warning mt-1 float-right">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="disclaimer card mt-3">
  <div class="card-header"><h5>Terms of Service / Warranty</h5></div>
  <div class="card-body">
    {{disclaimer}}
    This will be the company disclaimer/warranty agreement stored in db as disclaimer.
  </div>
  <div class="card-footer">
    <h5>Sign Below</h5>
    <canvas id="signature" width='100%'></canvas>
    <span class='sigDate'></span><br>
    <button class="float-right btn btn-sm btn-warning" onclick="signaturePad.clear()">Clear</button>
    <button class="mr-1 float-right btn btn-sm btn-success" onclick="signatureSave()">Save</button>
    <br>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
<script>
  var canvas = document.getElementById('signature');
  fitToContainer(canvas);
  function fitToContainer(canvas){
    // Make it visually fill the positioned parent
    canvas.style.width ='100%';
    canvas.style.height='100%';
    // ...then set the internal size to match
    canvas.width  = canvas.offsetWidth;
    canvas.height = canvas.offsetHeight;
  }
  var signaturePad = new SignaturePad(canvas, {
    minWidth: 1,
    maxWidth: 5,
    penColor: "#000000"
  });
  function signatureSave(){
    if(!signaturePad.isEmpty()){
      $.post( `/tickets/addSignature`,{ticket:'{{ticket._id}}',signature:signaturePad.toDataURL()},
      function( result ) {
        alert( result );
      });
    }
    else alert('Please sign inside box')
  }
  $('.removeProduct').click(function(){$(this).parent().parent().remove()})
  $(document).ready(()=>{
    var ticketId = $('#ticketId').text()
    $.get(`/tickets/getSignature/${ticketId}`,data=>{
      if(!data.err){
        signaturePad.fromDataURL(data.data)
        $('.sigDate').html(moment(data.date).format('MM/DD/YYYY hh:mm:ss a'))
      }
      else alert(JSON.stringify(data.err))
    })
  })
</script>
