<!-- <h3>Tix<b>db</b></h3>
<hr> -->
<div class="card mb-3" >
  <!-- <img class="card-img-top" src="http://via.placeholder.com/500x500" alt="Card image cap"> -->
  <div class="card-body">
    <!-- <h5 class="card-title">Tix<b>db</b></h5> -->
    <p class="card-text">Keep your repair tickets in top-shape!</p>
    {{#if user}}
    {{else}}
    <a href="/users/register" class="btn btn-success">Get Started</a> <b class='float-right'>Login: admin  Pass: admin</b>
    {{/if}}
  </div>
</div>
<div class="card mb-3">
  <div class="card-body">
    <a target='_blank' href="https://bitbucket.org/berrytechnics/tix.db" class="btn btn-lg btn-block btn-info">BitBucket.com</a><br>
    <a target='_blank' href="https://www.npmjs.com/package/tix.db-cellphone_repair" class="btn btn-lg btn-block btn-danger">NPMjs.com</a>
  </div>
</div>
