<h3>User Login</h3>
<hr>
<div class="row">
  <div class="col">
    <form action="/users/login" method='post'>
      <ul class="list-group bg-dark text-white">
        <li class="list-group-item bg-dark text-white">
          Login
        </li>
        <li class="list-group-item bg-dark text-white">
          <input autofocus name='username' type="text" class='form-control' placeholder='Username'>
        </li>
        <li class="list-group-item bg-dark text-white">
          <input name='password' type="password" class="form-control" placeholder='Password'>
        </li>
        <li class="list-group-item bg-dark text-white">
          <input type="submit" class="btn btn-lg btn-success float-right" value="Login">
        </li>
      </ul>
      <p id="testing" disabled style='display:hidden'></p>
    </form>
  </div>
</div>
