<h3>User Registration</h3>
<hr>
<div class="row">
  <div class="col">
    <form action="/users/register" method='post'>
      <ul class="list-group bg-dark text-white">
        <li class="list-group-item bg-dark text-white">
          Login
        </li>
        <li class="list-group-item bg-dark text-white">
          <input name='name' type="text" class='form-control' placeholder='Name'>
        </li>
        <li class="list-group-item bg-dark text-white">
          <input name='username' type="text" class='form-control' placeholder='Username'>
        </li>
        <li class="list-group-item bg-dark text-white">
          <input name='email' type="email" class='form-control' placeholder='Email'>
        </li>
        <li class="list-group-item bg-dark text-white">
          <input name='phone' type="tel" class='form-control' placeholder='Phone'>
        </li>
        <li class="list-group-item bg-dark text-white">
          <input name='password' type="password" class="form-control" placeholder='Password'>
        </li>
        <li class="list-group-item bg-dark text-white">
          <input name='confirm' type="password" class="form-control" placeholder='Confirm password'>
        </li>
        <li class="list-group-item bg-dark text-white">
          <input type="submit" class="btn btn-lg btn-success float-right" value="Sign Up">
        </li>
      </ul>
    </form>
  </div>
</div>
