body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.main{
  margin-top:40px
}
.customerModal{
  z-index:2;
  position:fixed;
  top:70px;
  width:80%
}

.brand:hover{
  -webkit-animation: brandColor 2s infinite; /* Safari 4.0 - 8.0 */
      animation: brandColor 2s infinite;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
    .page-break {page-break-after: always !important;}
}

@-webkit-keyframes pop {
    0%,100% {font-size:1.2rem}
    50% {font-size:1.5rem}
}
@keyframes pop {
  0%,100% {font-size:1.2rem}
  50% {font-size:1.5rem}
}
@keyframes brandColor {
  0%,100%{color:#FFFFFF}
  50%{color:#000000}
}
@-webkit-keyframes brandColor {
  0%,100%{color:#FFFFFF}
  50%{color:#000000}
}

#signature{
  border:1px black solid;
}
