<h3>Customers</h3>
<hr>
<div class="row">
  <div class="col mb-3">
    <a href="/customers/new" class="btn btn-warning float-right">Add Customer</a>
  </div>
</div>
<ul class="list-group">
  {{#if customers}}
    {{#each customers}}
    <li class="list-group-item">
      <a href="/customers/view/{{this._id}}" class="btn-btn-success">{{this.name}}</a>  -  {{this.phone.[0]}}  -  {{this.email.[0]}}
    </li>
    {{/each}}
  {{else}}
    <h4>There are no customers!</h4>
  {{/if}}
</ul>
