<h3>New Customer</h3>
<hr>
<form action="/customers/new" method='post'>
  <div class="row">
    <div class="col">
      <ul class="list-group bg-dark text-white">
        <li class="list-group-item  bg-dark text-white">
          <label>Name</label>
          <input required name='name' type="text" class="form-control">
        </li>
        <li id='emailList' class="list-group-item  bg-dark text-white">
          <label>Email</label> <a href="#" class="btn btn-sm float-right btn-success" id='addEmail'>+</a>
          <br><br>
          <input name='email1' type="email" class="form-control">
        </li>
        <li id='phoneList' class="list-group-item  bg-dark text-white">
          <label>Phone</label> <a href="#" class="btn btn-sm float-right btn-success" id='addPhone'>+</a>
          <br><br>
          <input required name='phone1' type="tel" class="form-control">
        </li>
        <li class="list-group-item  bg-dark text-white">
          <label>Address</label>
          <ul class='list-group bg-dark text-white'>
            <li class='list-group-item bg-dark text-white'>
              <label>Street</label>
              <input name='street' type="text" class="form-control">
            </li>
            <li class='list-group-item bg-dark text-white'>
              <label>City</label>
              <input name='city' type="text" class="form-control">
            </li>
            <li class='list-group-item bg-dark text-white'>
              <label>State</label>
              <input name='state' type="text" class="form-control">
            </li>
            <li class='list-group-item bg-dark text-white'>
              <label>Zip</label>
              <input type='number' name='zip' min='00001' step='1' class="form-control">
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- <div class="col"></div> -->
  </div><br><br>
  <input type="submit" class="btn btn-success float-right btn-lg" value='Submit'>
</form>

<script type="text/javascript">
  var emailNum = 1;
  var phoneNum = 1;
  $('#addPhone').click(()=>{
    phoneNum++;
    $('#phoneList').append(`
      <br>
      <input name='phone${phoneNum}' type="tel" class="form-control">
      `)
  })
  $('#addEmail').click(()=>{
    emailNum++;
    $('#emailList').append(`
      <br>
      <input name='email${emailNum}' type="email" class="form-control">
      `)
  })
</script>
