<h3>{{customer.name}}</h3>
<hr>
<a href="/customers/edit/{{customer._id}}" class="btn btn-warning float-right">Edit Customer</a>
<div class="row">
  <div class="col">
    <ul class="list-group bg-dark text-white">
      <li class="list-group-item bg-dark text-white">Name {{customer.name}}</li>
      <li class="list-group-item bg-dark text-white">Email
        <ul>
          {{#each customer.email}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </li>
      <li class="list-group-item bg-dark text-white">
        Phone
        <ul>
          {{#each customer.phone}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </li>
      <li class="list-group-item bg-dark text-white">
        Address
        <ul>
          <li>{{customer.address.street}}</li>
          <li>{{customer.address.city}}</li>
          <li>{{customer.address.state}}</li>
          <li>{{customer.address.zip}}</li>
        </ul>
      </li>
      <li class="list-group-item bg-dark text-white">Balance</li>
    </ul>
  </div>
  <div class="col">
    <ul class="list-group bg-dark text-white">
      {{#each customer.tickets}}
        <li class="list-group-item bg-dark text-white">
          {{this}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
